<div>
    <a routerLink=".." style="width: 10%; margin-left: 5%; border-right:1px solid #bbb;">Menu</a>
    <a style="text-align: center; width: 80%;">Tabella Personale</a>
</div>

<div class="split left">
    <br><br>
    <h1 style="text-align: center; color: white;">Inserisci</h1>
    <div class="centered" style="text-align: justify;">
        <p class="sep">
            <label for="nome">Nome</label>
            <input type="text" name="nome">
        </p>
        <br><br>
        <p class="sep">
            <label for="cognome">Cognome</label>
            <input type="text" name="cognome">
        </p>        
        <br><br>
        <p class="sep">
            <label for="email">Email</label>
            <input type="text" name="email">
        </p>
        <br><br>
        <p class="sep">
            <label for="telefono">Telefono</label>
            <input type="text" name="telefono">
        </p>
        <br><br>
        <p class="sep">
            <label for="idacquario">IDAcquario</label>
            <input type="number" name="idacquario">
        </p>
        <br><br>
        <button>Fatto!</button>
    </div>
  </div>
  
<div class="split right">
    <br><br>
    <h1 style="text-align: center; color: white;">Informazioni</h1>
    <div class="centered" style="text-align: center; margin-left: 25%;">
        <table class="table table-striped dt-responsive nowrap w-100">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>IDAcquario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>