div {
    background-color: rgba(9, 48, 69, 0.84);
    height: 7%;
}

div a {
    float: left;
    font-size: 20px;
    color: white;
    padding: 10px;
    text-decoration: none;
}

div a:hover {
    color: white;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 7%;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.left {
    left: 0;
    width: 40%;
    background-color: rgba(23, 71, 97, 0.84);
}
  
.right {
    right: 0;
    width: 60%;
    background-color: rgba(50, 106, 136, 0.84);
}
  
.centered {
    background-color: unset;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.sep label {
    color: white;
    width: fit-content;
    position: absolute;
    left: 0;
}

.sep input {
    width: fit-content;
    position: absolute;
    left: 200%;
}

.centered button {
    position: relative;
    left: 200%;
    background-color: rgba(10, 47, 67, 0.84);
    color: white;
}

th {
    min-width: 130px;
    color: rgba(7, 38, 55, 0.84);
}